@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Gudea');


body {
	color:#080732;
	font-family: 'Tahoma', sans-serif;
 	background: #F2FCFF;
 	font-size: 14px;
}

h1 {
	color:#CCEE00;
	font-family: 'Barrio', cursive;
	font-style: italic;
	font-size:95px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#slogan {
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	letter-spacing: .15em;
}


ul {
    text-align: center;
    list-style-type: none;
}

#topic {
	/*font-family: 'Press Start 2P', cursive;*/
	/*font-size: 15px;
	letter-spacing: .65px;*/
	font-family: 'Rajdhani', sans-serif;
	font-size: 26px;
}

#topicimage {
	margin-top: -1px;
	margin-bottom: 15px;

}
