@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Gudea');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    text-align: left;
}

/*#secondarynav {
	float: right;
    margin-top: -17px;
}*/

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


.mini {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;

}

#infobox {
	 border: 1px black solid;
	 margin: -5px 0px 10px 0px;
	 background-color:#FFFFFF;
	 width:150px;
}


}
.recent {
    background-color: #FFFFFF;
    border: 1px black solid;
    padding: 20px;

}

.featured {
    background-color: #AAAAAA;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

***div / section*** {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
	color:#080732;
	font-family: 'Tahoma', sans-serif;
 	background: #F2FCFF;
 	font-size: 14px;
}

h1 {
	color:#CCEE00;
	font-family: 'Barrio', cursive;
	font-style: italic;
	font-size:95px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#slogan {
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	letter-spacing: .15em;
}


ul {
    text-align: center;
    list-style-type: none;
}

#postcategory {
	/*font-family: 'Press Start 2P', cursive;*/
	/*font-size: 15px;
	letter-spacing: .65px;*/
	font-family: 'Rajdhani', sans-serif;
	font-size: 26px;
}

#category {
	font-family: 'Rajdhani', sans-serif;
	font-size: 12px;

}
#title {
	font-size: 16px;
	font-family: 'Noto Serif';
}

#description {
	font-size: 14px;
}

#categoryimage {
	margin-top: -1px;
	margin-bottom: 15px;

}

